*{
	margin: 0;
	padding: 0;
}
.pad{
	padding: 10px;
}
.margin{
	margin-right: 4px;
}
body{
	padding-top: 20px;
	background-color: #ffffff;
}
.container{
	width: 70%;
	margin: 0 auto;
	background-color: red;
}
.col-4{
	width:33%;
	float: left;
	padding: 50px 0px;
	background-color: #1E88E5;
}
.col-12{
	width: 99.8%;
	padding: 50px 0px;
	background-color: #1E88E5;
	margin-top: 10px;
	float: left;
}
.col-6{
	width: 49.7%;
	float: left;
	background-color: #1E88E5;	
	padding: 50px 0px;
    margin-top: 10px;
}
.col-8{
	width: 66%;
	float: left;
	background-color: #1E88E5;
	padding: 50px 0px;
	margin-top: 10px;
}
.col-2{
	width: 16.5%;
	float: left;
	background-color: #1E88E5;
	padding: 50px 0px;
	margin-top: 10px;
}